@import "tailwindcss";

@theme {
  --color-primary: #06283D;
  --color-secondary: #1363DF;
  --color-accent: #47B5FF;
  --color-neutral: #DFF6FF;
  --color-bg-white: #FFFFFF;
  --color-bg_white_soft: #FAFAFA;
}

/* ::-webkit-scrollbar {
  scrollbar-width: 100px;
} */

::-webkit-scrollbar {
  width: 0px; /* Set scrollbar width */
  height: 8px; /* Set scrollbar height for horizontal scrollbars */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray track */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark gray thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}