@import "tailwindcss";

@theme {
  --color-primary: #06283D;
  --color-secondary: #1363DF;
  --color-accent: #47B5FF;
  --color-neutral: #DFF6FF;
  --color-bg-white: #FFFFFF;
  --color-bg_white_soft: #FAFAFA;
}

/* ::-webkit-scrollbar {
  scrollbar-width: 100px;
} */